# WordPress Database Configuration
WORDPRESS_DB_HOST=localhost
WORDPRESS_DB_USER=fiveriversadmin
WORDPRESS_DB_PASSWORD=Password@123
WORDPRESS_DB_NAME=fiveriverstutoring_db

# WordPress Site Configuration
WORDPRESS_HOME=http://localhost:8082
WORDPRESS_SITEURL=http://localhost:8082 